.btd1-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  justify-content: flex-start;
  background-image: url("public/playground_assets/wallpaperflare.com_wallpaper%20%5B4%5D-1500w.jpg");
}
.btd1-navbar-interactive {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  padding-top: 0px;
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: 0px;
  justify-content: space-between;
}
.btd1-navlink {
  display: contents;
}
.btd1-logo {
  width: 10%;
  height: 10%;
  text-decoration: none;
}
.btd1-desktop-menu {
  display: flex;
  position: relative;
}
.btd1-nav {
  flex: 1;
  color: var(--dl-color-gray-black);
  width: 100%;
  height: 100%;
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.btd1-navlink01 {
  font-size: 25px;
  text-align: center;
  text-decoration: none;
}
.btd1-navlink02 {
  font-size: 25px;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.btd1-navlink03 {
  font-size: 25px;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.btd1-navlink04 {
  font-size: 25px;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.btd1-navlink05 {
  font-size: 25px;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.btd1-navlink06 {
  font-size: 25px;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.btd1-btn-group {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.btd1-link {
  display: contents;
}
.btd1-image {
  width: 100px;
  object-fit: cover;
  text-decoration: none;
}
.btd1-burger-menu {
  display: none;
  align-items: center;
  justify-content: center;
}
.btd1-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.btd1-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: flex;
  padding: 32px;
  z-index: 100;
  position: fixed;
  transform: translateX(100%);
  transition: 0.5s;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.btd1-nav1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.btd1-container1 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.btd1-navlink07 {
  display: contents;
}
.btd1-image1 {
  height: 2rem;
  text-decoration: none;
}
.btd1-menu-close {
  display: flex;
  align-items: center;
  justify-content: center;
}
.btd1-icon2 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.btd1-nav2 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.btd1-navlink08 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.btd1-navlink09 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.btd1-navlink10 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.btd1-navlink11 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.btd1-link1 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.btd1-link2 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.btd1-link3 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.btd1-icon-group {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
}
.btd1-div {
  width: 1440px;
  height: 910px;
  align-self: center;
}
@media(max-width: 767px) {
  .btd1-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .btd1-desktop-menu {
    display: none;
  }
  .btd1-navlink02 {
    margin-left: var(--dl-space-space-unit);
  }
  .btd1-navlink03 {
    margin-left: var(--dl-space-space-unit);
  }
  .btd1-navlink04 {
    margin-left: var(--dl-space-space-unit);
  }
  .btd1-navlink05 {
    margin-left: var(--dl-space-space-unit);
  }
  .btd1-navlink06 {
    margin-left: var(--dl-space-space-unit);
  }
  .btd1-btn-group {
    display: none;
  }
  .btd1-burger-menu {
    display: flex;
  }
  .btd1-link1 {
    text-decoration: none;
  }
  .btd1-link2 {
    text-decoration: none;
  }
  .btd1-link3 {
    text-decoration: none;
  }
}
@media(max-width: 479px) {
  .btd1-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .btd1-logo {
    width: 15%;
    height: 15%;
  }
  .btd1-icon {
    width: 55px;
    height: 55px;
  }
  .btd1-mobile-menu {
    padding: 16px;
  }
}
