.navigation-links2-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.navigation-links2-text1 {
  margin-left: var(--dl-space-space-twounits);
}
.navigation-links2-text2 {
  margin-left: var(--dl-space-space-twounits);
}
.navigation-links2-text3 {
  margin-left: var(--dl-space-space-twounits);
}
.navigation-links2-text4 {
  margin-left: var(--dl-space-space-twounits);
}









.navigation-links2-root-class-name9 {
  width: 100%;
  height: 100%;
}




































































@media(max-width: 767px) {
  .navigation-links2-nav {
    align-items: flex-start;
    flex-direction: column;
  }
  .navigation-links2-text {
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links2-text1 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links2-text2 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links2-text3 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links2-text4 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}

.github-guide-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.github-guide-header {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.08);
}
.github-guide-container1 {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.github-guide-navlink {
  display: contents;
}
.github-guide-image {
  width: auto;
  height: 75px;
  text-decoration: none;
}
.github-guide-container2 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
}
.github-guide-container3 {
  display: flex;
  flex-direction: column;
}
.github-guide-container4 {
  display: flex;
  flex-direction: column;
}
.github-guide-navlink1 {
  width: 200px;
  height: 50px;
  display: flex;
  flex-direction: row;
  text-decoration: none;
  background-color: #ffffff;
}
.github-guide-icon {
  width: 16px;
  height: 16px;
}
.github-guide-navlink2 {
  width: 200px;
  height: 50px;
  display: flex;
  flex-direction: row;
  text-decoration: none;
  background-color: #ffffff;
}
.github-guide-icon02 {
  width: 16px;
  height: 16px;
}
.github-guide-navlink3 {
  width: 200px;
  height: 50px;
  display: flex;
  flex-direction: row;
  text-decoration: none;
  background-color: #ffffff;
}
.github-guide-icon04 {
  width: 16px;
  height: 16px;
}
.github-guide-navlink4 {
  width: 200px;
  height: 50px;
  display: flex;
  flex-direction: row;
  text-decoration: none;
  background-color: #ffffff;
}
.github-guide-icon06 {
  width: 16px;
  height: 16px;
}
.github-guide-btn-group {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.github-guide-link {
  width: 200px;
  height: 50px;
  display: flex;
  flex-direction: row;
  text-decoration: none;
  background-color: #800080;
}
.github-guide-icon08 {
  width: 16px;
  height: 16px;
}
.github-guide-burger-menu {
  display: none;
}
.github-guide-icon10 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  display: none;
}
.github-guide-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.github-guide-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.github-guide-container5 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.github-guide-image1 {
  height: 2rem;
}
.github-guide-close-mobile-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.github-guide-icon12 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.github-guide-icon14 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.github-guide-icon16 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.github-guide-icon18 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.github-guide-feature-card {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-twounits);
  align-items: center;
  flex-direction: column;
}
.github-guide-icon20 {
  fill: var(--dl-color-gray-500);
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
}
.github-guide-text05 {
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  font-weight: 500;
  margin-bottom: var(--dl-space-space-unit);
}
.github-guide-text06 {
  color: var(--dl-color-gray-700);
  text-align: center;
}
.github-guide-text21 {
  font-style: normal;
  font-weight: 600;
}
@media(max-width: 991px) {
  .github-guide-icon10 {
    display: flex;
  }
}
@media(max-width: 767px) {
  .github-guide-header {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .github-guide-btn-group {
    display: none;
  }
  .github-guide-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media(max-width: 479px) {
  .github-guide-header {
    padding: var(--dl-space-space-unit);
  }
  .github-guide-mobile-menu {
    padding: 16px;
  }
}
