.guides-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: 0,0,0,0.08;
}
.guides-container01 {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  background-image: url("public/playground_assets/wallpaperflare.com_wallpaper%20%5B4%5D-1500h.jpg");
}
.guides-navbar-interactive {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  padding-top: 0px;
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: 0px;
  justify-content: space-between;
}
.guides-navlink {
  display: contents;
}
.guides-logo {
  width: 10%;
  height: 10%;
  text-decoration: none;
}
.guides-desktop-menu {
  display: flex;
  position: relative;
}
.guides-nav {
  flex: 1;
  color: var(--dl-color-gray-black);
  width: 100%;
  height: 100%;
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.guides-navlink01 {
  font-size: 25px;
  text-align: center;
  text-decoration: none;
}
.guides-navlink02 {
  font-size: 25px;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.guides-navlink03 {
  font-size: 25px;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.guides-navlink04 {
  font-size: 25px;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.guides-navlink05 {
  font-size: 25px;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.guides-navlink06 {
  font-size: 25px;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.guides-navlink07 {
  font-size: 25px;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.guides-btn-group {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.guides-link {
  display: contents;
}
.guides-image {
  width: 100px;
  object-fit: cover;
  text-decoration: none;
}
.guides-burger-menu {
  display: none;
  align-items: center;
  justify-content: center;
}
.guides-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.guides-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: flex;
  padding: 32px;
  z-index: 100;
  position: fixed;
  transform: translateX(100%);
  transition: 0.5s;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.guides-nav1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.guides-container02 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.guides-navlink08 {
  display: contents;
}
.guides-image1 {
  height: 2rem;
  text-decoration: none;
}
.guides-menu-close {
  display: flex;
  align-items: center;
  justify-content: center;
}
.guides-icon2 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.guides-nav2 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.guides-navlink09 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.guides-navlink10 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.guides-navlink11 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.guides-navlink12 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.guides-navlink13 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.guides-link1 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.guides-link2 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.guides-link3 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.guides-icon-group {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
}
.guides-text02 {
  align-self: center;
  text-align: center;
}
.guides-blog {
  width: auto;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  justify-content: space-between;
}
.guides-container03 {
  display: flex;
  align-items: center;
  margin-right: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.guides-blog-post-card {
  width: 100%;
  display: flex;
  overflow: hidden;
  max-width: var(--dl-size-size-maxwidth);
  box-shadow: 5px 5px 10px 0px rgba(18, 18, 18, 0.1);
  transition: 0.3s;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.guides-blog-post-card:hover {
  transform: scale(1.02);
}
.guides-container04 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.guides-container05 {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.guides-navlink14 {
  display: contents;
}
.guides-container06 {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
}
.guides-image2 {
  width: 315px;
  height: 315px;
  object-fit: cover;
}
.guides-container07 {
  width: 315px;
  height: 100%;
  display: flex;
  padding: var(--dl-space-space-twounits);
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.guides-text07 {
  font-size: 1.5rem;
  font-weight: 300;
  margin-bottom: var(--dl-space-space-twounits);
}
.guides-text10 {
  color: var(--dl-color-gray-black);
  font-weight: 400;
  margin-bottom: var(--dl-space-space-twounits);
}
.guides-container08 {
  display: flex;
  align-items: center;
  margin-right: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.guides-blog-post-card1 {
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  overflow: hidden;
  max-width: var(--dl-size-size-maxwidth);
  box-shadow: 5px 5px 10px 0px rgba(18, 18, 18, 0.1);
  transition: 0.3s;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.guides-blog-post-card1:hover {
  transform: scale(1.02);
}
.guides-container09 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.guides-blog-post-card2 {
  width: 100%;
  display: flex;
  overflow: hidden;
  max-width: var(--dl-size-size-maxwidth);
  box-shadow: 5px 5px 10px 0px rgba(18, 18, 18, 0.1);
  transition: 0.3s;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.guides-blog-post-card2:hover {
  transform: scale(1.02);
}
.guides-navlink15 {
  display: contents;
}
.guides-container10 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
}
.guides-image3 {
  width: 315px;
  height: 315px;
  object-fit: cover;
}
.guides-container11 {
  width: 315px;
  height: 100%;
  display: flex;
  padding: var(--dl-space-space-twounits);
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.guides-text11 {
  font-size: 1.5rem;
  font-weight: 300;
  margin-bottom: var(--dl-space-space-twounits);
}
.guides-text12 {
  color: var(--dl-color-gray-black);
  font-weight: 400;
  margin-bottom: var(--dl-space-space-twounits);
}
.guides-text13 {
  align-self: center;
  text-align: center;
}
@media(max-width: 991px) {
  .guides-blog {
    flex-direction: column;
  }
  .guides-container03 {
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-threeunits);
  }
  .guides-image2 {
    height: 350px;
  }
  .guides-container08 {
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-threeunits);
  }
  .guides-image3 {
    height: 350px;
  }
}
@media(max-width: 767px) {
  .guides-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .guides-desktop-menu {
    display: none;
  }
  .guides-navlink02 {
    margin-left: var(--dl-space-space-unit);
  }
  .guides-navlink03 {
    margin-left: var(--dl-space-space-unit);
  }
  .guides-navlink04 {
    margin-left: var(--dl-space-space-unit);
  }
  .guides-navlink05 {
    margin-left: var(--dl-space-space-unit);
  }
  .guides-navlink06 {
    margin-left: var(--dl-space-space-unit);
  }
  .guides-navlink07 {
    margin-left: var(--dl-space-space-unit);
  }
  .guides-btn-group {
    display: none;
  }
  .guides-burger-menu {
    display: flex;
  }
  .guides-link1 {
    text-decoration: none;
  }
  .guides-link2 {
    text-decoration: none;
  }
  .guides-link3 {
    text-decoration: none;
  }
  .guides-blog {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
}
@media(max-width: 479px) {
  .guides-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .guides-logo {
    width: 15%;
    height: 15%;
  }
  .guides-icon {
    width: 55px;
    height: 55px;
  }
  .guides-mobile-menu {
    padding: 16px;
  }
  .guides-blog {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
}
