.interstellar-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  background-image: url("public/playground_assets/wallpaperflare.com_wallpaper%20%5B4%5D-1500w.jpg");
}
.interstellar-navbar-interactive {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  padding-top: 0px;
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: 0px;
  justify-content: space-between;
}
.interstellar-navlink {
  display: contents;
}
.interstellar-logo {
  width: 10%;
  height: 10%;
  text-decoration: none;
}
.interstellar-desktop-menu {
  display: flex;
  position: relative;
}
.interstellar-nav {
  flex: 1;
  color: var(--dl-color-gray-black);
  width: 100%;
  height: 100%;
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.interstellar-navlink01 {
  font-size: 25px;
  text-align: center;
  text-decoration: none;
}
.interstellar-navlink02 {
  font-size: 25px;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.interstellar-navlink03 {
  font-size: 25px;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.interstellar-navlink04 {
  font-size: 25px;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.interstellar-navlink05 {
  font-size: 25px;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.interstellar-navlink06 {
  font-size: 25px;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.interstellar-btn-group {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.interstellar-link {
  display: contents;
}
.interstellar-image {
  width: 100px;
  object-fit: cover;
  text-decoration: none;
}
.interstellar-burger-menu {
  display: none;
  align-items: center;
  justify-content: center;
}
.interstellar-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.interstellar-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: flex;
  padding: 32px;
  z-index: 100;
  position: fixed;
  transform: translateX(100%);
  transition: 0.5s;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.interstellar-nav1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.interstellar-container1 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.interstellar-navlink07 {
  display: contents;
}
.interstellar-image1 {
  height: 2rem;
  text-decoration: none;
}
.interstellar-menu-close {
  display: flex;
  align-items: center;
  justify-content: center;
}
.interstellar-icon2 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.interstellar-nav2 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.interstellar-navlink08 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.interstellar-navlink09 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.interstellar-navlink10 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.interstellar-navlink11 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.interstellar-link1 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.interstellar-link2 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.interstellar-link3 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.interstellar-icon-group {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
}
.interstellar-div {
  width: 1385px;
  height: 765px;
}
.interstellar-text02 {
  text-align: center;
}
.interstellar-text03 {
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
}
.interstellar-text04 {
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
}
.interstellar-text05 {
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
}
.interstellar-text06 {
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
}
.interstellar-text07 {
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
}
.interstellar-text08 {
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
}
.interstellar-text09 {
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
}
.interstellar-text10 {
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
}
.interstellar-text11 {
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
}
.interstellar-text12 {
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
}
.interstellar-text13 {
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
}
@media(max-width: 767px) {
  .interstellar-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .interstellar-desktop-menu {
    display: none;
  }
  .interstellar-navlink02 {
    margin-left: var(--dl-space-space-unit);
  }
  .interstellar-navlink03 {
    margin-left: var(--dl-space-space-unit);
  }
  .interstellar-navlink04 {
    margin-left: var(--dl-space-space-unit);
  }
  .interstellar-navlink05 {
    margin-left: var(--dl-space-space-unit);
  }
  .interstellar-navlink06 {
    margin-left: var(--dl-space-space-unit);
  }
  .interstellar-btn-group {
    display: none;
  }
  .interstellar-burger-menu {
    display: flex;
  }
  .interstellar-link1 {
    text-decoration: none;
  }
  .interstellar-link2 {
    text-decoration: none;
  }
  .interstellar-link3 {
    text-decoration: none;
  }
}
@media(max-width: 479px) {
  .interstellar-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .interstellar-logo {
    width: 15%;
    height: 15%;
  }
  .interstellar-icon {
    width: 55px;
    height: 55px;
  }
  .interstellar-mobile-menu {
    padding: 16px;
  }
}
