.interstellar-movies-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  background-image: url("public/playground_assets/wallpaperflare.com_wallpaper%20%5B4%5D-1500w.jpg");
}
.interstellar-movies-navbar-interactive {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  padding-top: 0px;
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: 0px;
  justify-content: space-between;
}
.interstellar-movies-navlink {
  display: contents;
}
.interstellar-movies-logo {
  width: 10%;
  height: 10%;
  text-decoration: none;
}
.interstellar-movies-desktop-menu {
  display: flex;
  position: relative;
}
.interstellar-movies-nav {
  flex: 1;
  color: var(--dl-color-gray-black);
  width: 100%;
  height: 100%;
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.interstellar-movies-navlink01 {
  font-size: 25px;
  text-align: center;
  text-decoration: none;
}
.interstellar-movies-navlink02 {
  font-size: 25px;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.interstellar-movies-navlink03 {
  font-size: 25px;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.interstellar-movies-navlink04 {
  font-size: 25px;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.interstellar-movies-navlink05 {
  font-size: 25px;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.interstellar-movies-navlink06 {
  font-size: 25px;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.interstellar-movies-navlink07 {
  font-size: 25px;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.interstellar-movies-btn-group {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.interstellar-movies-link {
  display: contents;
}
.interstellar-movies-image {
  width: 100px;
  object-fit: cover;
  text-decoration: none;
}
.interstellar-movies-burger-menu {
  display: none;
  align-items: center;
  justify-content: center;
}
.interstellar-movies-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.interstellar-movies-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: flex;
  padding: 32px;
  z-index: 100;
  position: fixed;
  transform: translateX(100%);
  transition: 0.5s;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.interstellar-movies-nav1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.interstellar-movies-container1 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.interstellar-movies-navlink08 {
  display: contents;
}
.interstellar-movies-image1 {
  height: 2rem;
  text-decoration: none;
}
.interstellar-movies-menu-close {
  display: flex;
  align-items: center;
  justify-content: center;
}
.interstellar-movies-icon2 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.interstellar-movies-nav2 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.interstellar-movies-navlink09 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.interstellar-movies-navlink10 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.interstellar-movies-navlink11 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.interstellar-movies-navlink12 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.interstellar-movies-navlink13 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.interstellar-movies-link1 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.interstellar-movies-link2 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.interstellar-movies-link3 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.interstellar-movies-icon-group {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
}
.interstellar-movies-div {
  width: 1385px;
  height: 765px;
}
.interstellar-movies-text02 {
  text-align: center;
}
.interstellar-movies-text03 {
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
}
.interstellar-movies-text04 {
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
}
.interstellar-movies-text05 {
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
}
.interstellar-movies-text06 {
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
}
.interstellar-movies-text07 {
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
}
.interstellar-movies-text08 {
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
}
.interstellar-movies-text09 {
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
}
.interstellar-movies-text10 {
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
}
.interstellar-movies-text11 {
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
}
@media(max-width: 767px) {
  .interstellar-movies-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .interstellar-movies-desktop-menu {
    display: none;
  }
  .interstellar-movies-navlink02 {
    margin-left: var(--dl-space-space-unit);
  }
  .interstellar-movies-navlink03 {
    margin-left: var(--dl-space-space-unit);
  }
  .interstellar-movies-navlink04 {
    margin-left: var(--dl-space-space-unit);
  }
  .interstellar-movies-navlink05 {
    margin-left: var(--dl-space-space-unit);
  }
  .interstellar-movies-navlink06 {
    margin-left: var(--dl-space-space-unit);
  }
  .interstellar-movies-navlink07 {
    margin-left: var(--dl-space-space-unit);
  }
  .interstellar-movies-btn-group {
    display: none;
  }
  .interstellar-movies-burger-menu {
    display: flex;
  }
  .interstellar-movies-link1 {
    text-decoration: none;
  }
  .interstellar-movies-link2 {
    text-decoration: none;
  }
  .interstellar-movies-link3 {
    text-decoration: none;
  }
}
@media(max-width: 479px) {
  .interstellar-movies-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .interstellar-movies-logo {
    width: 15%;
    height: 15%;
  }
  .interstellar-movies-icon {
    width: 55px;
    height: 55px;
  }
  .interstellar-movies-mobile-menu {
    padding: 16px;
  }
}
