.metallic-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  background-image: url("public/playground_assets/wallpaperflare.com_wallpaper%20%5B4%5D-1500w.jpg");
}
.metallic-navbar-interactive {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  padding-top: 0px;
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: 0px;
  justify-content: space-between;
}
.metallic-navlink {
  display: contents;
}
.metallic-logo {
  width: 10%;
  height: 10%;
  text-decoration: none;
}
.metallic-desktop-menu {
  display: flex;
  position: relative;
}
.metallic-nav {
  flex: 1;
  color: var(--dl-color-gray-black);
  width: 100%;
  height: 100%;
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.metallic-navlink01 {
  font-size: 25px;
  text-align: center;
  text-decoration: none;
}
.metallic-navlink02 {
  font-size: 25px;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.metallic-navlink03 {
  font-size: 25px;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.metallic-navlink04 {
  font-size: 25px;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.metallic-navlink05 {
  font-size: 25px;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.metallic-navlink06 {
  font-size: 25px;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.metallic-navlink07 {
  font-size: 25px;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.metallic-btn-group {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.metallic-link {
  display: contents;
}
.metallic-image {
  width: 100px;
  object-fit: cover;
  text-decoration: none;
}
.metallic-burger-menu {
  display: none;
  align-items: center;
  justify-content: center;
}
.metallic-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.metallic-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: flex;
  padding: 32px;
  z-index: 100;
  position: fixed;
  transform: translateX(100%);
  transition: 0.5s;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.metallic-nav1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.metallic-container1 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.metallic-navlink08 {
  display: contents;
}
.metallic-image1 {
  height: 2rem;
  text-decoration: none;
}
.metallic-menu-close {
  display: flex;
  align-items: center;
  justify-content: center;
}
.metallic-icon2 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.metallic-nav2 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.metallic-navlink09 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.metallic-navlink10 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.metallic-navlink11 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.metallic-navlink12 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.metallic-navlink13 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.metallic-link1 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.metallic-link2 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.metallic-link3 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.metallic-icon-group {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
}
.metallic-div {
  width: 1385px;
  height: 765px;
}
.metallic-text2 {
  text-align: center;
}
.metallic-text3 {
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 1;
}
.metallic-text4 {
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 1;
}
.metallic-text5 {
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
}
.metallic-text6 {
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
}
.metallic-text7 {
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
}
@media(max-width: 767px) {
  .metallic-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .metallic-desktop-menu {
    display: none;
  }
  .metallic-navlink02 {
    margin-left: var(--dl-space-space-unit);
  }
  .metallic-navlink03 {
    margin-left: var(--dl-space-space-unit);
  }
  .metallic-navlink04 {
    margin-left: var(--dl-space-space-unit);
  }
  .metallic-navlink05 {
    margin-left: var(--dl-space-space-unit);
  }
  .metallic-navlink06 {
    margin-left: var(--dl-space-space-unit);
  }
  .metallic-navlink07 {
    margin-left: var(--dl-space-space-unit);
  }
  .metallic-btn-group {
    display: none;
  }
  .metallic-burger-menu {
    display: flex;
  }
  .metallic-link1 {
    text-decoration: none;
  }
  .metallic-link2 {
    text-decoration: none;
  }
  .metallic-link3 {
    text-decoration: none;
  }
}
@media(max-width: 479px) {
  .metallic-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .metallic-logo {
    width: 15%;
    height: 15%;
  }
  .metallic-icon {
    width: 55px;
    height: 55px;
  }
  .metallic-mobile-menu {
    padding: 16px;
  }
  .metallic-div {
    width: auto;
    height: auto;
  }
}
