.proxies-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.proxies-container01 {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  background-image: url("public/playground_assets/wallpaperflare.com_wallpaper%20%5B4%5D-1500h.jpg");
}
.proxies-navbar-interactive {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  padding-top: 0px;
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: 0px;
  justify-content: space-between;
}
.proxies-navlink {
  display: contents;
}
.proxies-logo {
  width: 10%;
  height: 10%;
  text-decoration: none;
}
.proxies-desktop-menu {
  display: flex;
  position: relative;
}
.proxies-nav {
  flex: 1;
  color: var(--dl-color-gray-black);
  width: 100%;
  height: 100%;
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.proxies-navlink01 {
  font-size: 25px;
  text-align: center;
  text-decoration: none;
}
.proxies-navlink02 {
  font-size: 25px;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.proxies-navlink03 {
  font-size: 25px;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.proxies-navlink04 {
  font-size: 25px;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.proxies-navlink05 {
  font-size: 25px;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.proxies-btn-group {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.proxies-link {
  display: contents;
}
.proxies-image {
  width: 100px;
  object-fit: cover;
  text-decoration: none;
}
.proxies-burger-menu {
  display: none;
  align-items: center;
  justify-content: center;
}
.proxies-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.proxies-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: flex;
  padding: 32px;
  z-index: 100;
  position: fixed;
  transform: translateX(100%);
  transition: 0.5s;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.proxies-nav1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.proxies-container02 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.proxies-navlink06 {
  display: contents;
}
.proxies-image1 {
  height: 2rem;
  text-decoration: none;
}
.proxies-menu-close {
  display: flex;
  align-items: center;
  justify-content: center;
}
.proxies-icon2 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.proxies-nav2 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.proxies-navlink07 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.proxies-navlink08 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.proxies-navlink09 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.proxies-navlink10 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.proxies-link1 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.proxies-link2 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.proxies-icon-group {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
}
.proxies-text02 {
  align-self: center;
  text-align: center;
}
.proxies-blog {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  justify-content: space-between;
}
.proxies-container03 {
  display: flex;
  align-items: center;
  margin-right: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.proxies-blog-post-card {
  width: auto;
  display: flex;
  overflow: hidden;
  max-width: var(--dl-size-size-maxwidth);
  box-shadow: 5px 5px 10px 0px rgba(18, 18, 18, 0.1);
  transition: 0.3s;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.proxies-blog-post-card:hover {
  transform: scale(1.02);
}
.proxies-container04 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.proxies-container05 {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.proxies-navlink11 {
  display: contents;
}
.proxies-container06 {
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
}
.proxies-image2 {
  width: 315px;
  height: 100%;
  object-fit: cover;
}
.proxies-container07 {
  width: 315px;
  height: 100%;
  display: flex;
  padding: var(--dl-space-space-twounits);
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.proxies-text11 {
  color: var(--dl-color-gray-black);
  font-weight: 700;
  margin-bottom: var(--dl-space-space-halfunit);
  text-transform: uppercase;
}
.proxies-text12 {
  font-size: 1.5rem;
  font-weight: 300;
  margin-bottom: var(--dl-space-space-twounits);
}
.proxies-text13 {
  color: var(--dl-color-gray-500);
  font-weight: 400;
  margin-bottom: var(--dl-space-space-twounits);
}
.proxies-text14 {
  color: var(--dl-color-gray-black);
}
.proxies-container08 {
  display: flex;
  align-items: center;
  margin-right: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.proxies-blog-post-card1 {
  width: 100%;
  display: flex;
  overflow: hidden;
  max-width: var(--dl-size-size-maxwidth);
  box-shadow: 5px 5px 10px 0px rgba(18, 18, 18, 0.1);
  transition: 0.3s;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.proxies-blog-post-card1:hover {
  transform: scale(1.02);
}
.proxies-container09 {
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.proxies-navlink12 {
  display: contents;
}
.proxies-container10 {
  width: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
}
.proxies-image3 {
  width: 315px;
  height: 100%;
  object-fit: cover;
}
.proxies-container11 {
  width: 315px;
  height: 100%;
  display: flex;
  padding: var(--dl-space-space-twounits);
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.proxies-text21 {
  color: var(--dl-color-gray-black);
  font-weight: 700;
  margin-bottom: var(--dl-space-space-halfunit);
  text-transform: uppercase;
}
.proxies-text22 {
  font-size: 1.5rem;
  font-weight: 300;
  margin-bottom: var(--dl-space-space-twounits);
}
.proxies-container12 {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.proxies-text23 {
  color: var(--dl-color-gray-500);
  font-weight: 400;
  margin-bottom: var(--dl-space-space-twounits);
}
.proxies-text24 {
  color: #000000;
}
.proxies-text25 {
  color: #000000;
}
.proxies-text26 {
  color: #000000;
}
.proxies-text27 {
  color: #000000;
  font-style: normal;
  font-weight: 600;
}
.proxies-container13 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.proxies-blog-post-card2 {
  width: 100%;
  display: flex;
  overflow: hidden;
  max-width: var(--dl-size-size-maxwidth);
  box-shadow: 5px 5px 10px 0px rgba(18, 18, 18, 0.1);
  transition: 0.3s;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.proxies-blog-post-card2:hover {
  transform: scale(1.02);
}
.proxies-navlink13 {
  display: contents;
}
.proxies-container14 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
}
.proxies-image4 {
  width: 315px;
  height: 100%;
  object-fit: cover;
}
.proxies-container15 {
  width: 315px;
  height: 100%;
  display: flex;
  padding: var(--dl-space-space-twounits);
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.proxies-text29 {
  color: var(--dl-color-gray-black);
  font-weight: 700;
  margin-bottom: var(--dl-space-space-halfunit);
  text-transform: uppercase;
}
.proxies-text30 {
  font-size: 1.5rem;
  font-weight: 300;
  margin-bottom: var(--dl-space-space-twounits);
}
.proxies-text33 {
  color: var(--dl-color-gray-black);
  font-weight: 400;
  margin-bottom: var(--dl-space-space-twounits);
}
.proxies-text41 {
  align-self: center;
  text-align: center;
}
.proxies-text49 {
  font-style: normal;
  font-weight: 400;
}
.proxies-text50 {
  font-style: normal;
  font-weight: 400;
}
.proxies-text51 {
  font-style: normal;
  font-weight: 400;
}
.proxies-text52 {
  font-style: normal;
  font-weight: 400;
}
.proxies-text53 {
  font-style: normal;
  font-weight: 400;
}
.proxies-text54 {
  font-style: normal;
  font-weight: 400;
}
.proxies-text55 {
  font-style: normal;
  font-weight: 400;
}
@media(max-width: 991px) {
  .proxies-blog {
    flex-direction: column;
  }
  .proxies-container03 {
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-threeunits);
  }
  .proxies-image2 {
    height: 350px;
  }
  .proxies-container08 {
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-threeunits);
  }
  .proxies-image3 {
    height: 350px;
  }
  .proxies-image4 {
    height: 350px;
  }
}
@media(max-width: 767px) {
  .proxies-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .proxies-desktop-menu {
    display: none;
  }
  .proxies-navlink02 {
    margin-left: var(--dl-space-space-unit);
  }
  .proxies-navlink03 {
    margin-left: var(--dl-space-space-unit);
  }
  .proxies-navlink04 {
    margin-left: var(--dl-space-space-unit);
  }
  .proxies-navlink05 {
    margin-left: var(--dl-space-space-unit);
  }
  .proxies-btn-group {
    display: none;
  }
  .proxies-burger-menu {
    display: flex;
  }
  .proxies-link1 {
    text-decoration: none;
  }
  .proxies-link2 {
    text-decoration: none;
  }
  .proxies-blog {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
}
@media(max-width: 479px) {
  .proxies-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .proxies-logo {
    width: 15%;
    height: 15%;
  }
  .proxies-icon {
    width: 55px;
    height: 55px;
  }
  .proxies-mobile-menu {
    padding: 16px;
  }
  .proxies-blog {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
}
