.rammerhead-guide-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  background-image: url("public/playground_assets/wallpaperflare.com_wallpaper%20%5B4%5D-1500w.jpg");
}
.rammerhead-guide-navbar-interactive {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  padding-top: 0px;
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: 0px;
  justify-content: space-between;
}
.rammerhead-guide-navlink {
  display: contents;
}
.rammerhead-guide-logo {
  width: 10%;
  height: 10%;
  text-decoration: none;
}
.rammerhead-guide-desktop-menu {
  display: flex;
  position: relative;
}
.rammerhead-guide-nav {
  flex: 1;
  color: var(--dl-color-gray-black);
  width: 100%;
  height: 100%;
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.rammerhead-guide-navlink01 {
  font-size: 25px;
  text-align: center;
  text-decoration: none;
}
.rammerhead-guide-navlink02 {
  font-size: 25px;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.rammerhead-guide-navlink03 {
  font-size: 25px;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.rammerhead-guide-navlink04 {
  font-size: 25px;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.rammerhead-guide-navlink05 {
  font-size: 25px;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.rammerhead-guide-navlink06 {
  font-size: 25px;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.rammerhead-guide-navlink07 {
  font-size: 25px;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.rammerhead-guide-btn-group {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.rammerhead-guide-link {
  display: contents;
}
.rammerhead-guide-image {
  width: 100px;
  object-fit: cover;
  text-decoration: none;
}
.rammerhead-guide-burger-menu {
  display: none;
  align-items: center;
  justify-content: center;
}
.rammerhead-guide-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.rammerhead-guide-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: flex;
  padding: 32px;
  z-index: 100;
  position: fixed;
  transform: translateX(100%);
  transition: 0.5s;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.rammerhead-guide-nav1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.rammerhead-guide-container1 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.rammerhead-guide-navlink08 {
  display: contents;
}
.rammerhead-guide-image1 {
  height: 2rem;
  text-decoration: none;
}
.rammerhead-guide-menu-close {
  display: flex;
  align-items: center;
  justify-content: center;
}
.rammerhead-guide-icon2 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.rammerhead-guide-nav2 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.rammerhead-guide-navlink09 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.rammerhead-guide-navlink10 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.rammerhead-guide-navlink11 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.rammerhead-guide-navlink12 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.rammerhead-guide-navlink13 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.rammerhead-guide-link1 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.rammerhead-guide-link2 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.rammerhead-guide-link3 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.rammerhead-guide-icon-group {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
}
.rammerhead-guide-feature-card {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-twounits);
  align-items: center;
  flex-direction: column;
}
.rammerhead-guide-icon4 {
  fill: #000000;
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
}
.rammerhead-guide-text02 {
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  font-weight: 500;
  margin-bottom: var(--dl-space-space-unit);
}
.rammerhead-guide-text03 {
  color: var(--dl-color-gray-700) #000000;
  text-align: center;
}
.rammerhead-guide-text04 {
  color: var(--dl-color-gray-black);
  font-size: 22px;
}
.rammerhead-guide-text05 {
  color: var(--dl-color-gray-black);
  font-size: 22px;
}
.rammerhead-guide-text06 {
  color: var(--dl-color-gray-black);
  font-size: 22px;
}
.rammerhead-guide-text07 {
  color: var(--dl-color-gray-black);
  font-size: 22px;
}
.rammerhead-guide-text08 {
  color: var(--dl-color-gray-black);
  font-size: 22px;
}
.rammerhead-guide-text09 {
  color: var(--dl-color-gray-black);
  font-size: 22px;
}
.rammerhead-guide-text10 {
  color: var(--dl-color-gray-black);
  font-size: 22px;
}
.rammerhead-guide-text11 {
  color: var(--dl-color-gray-black);
  font-size: 22px;
}
.rammerhead-guide-text12 {
  color: var(--dl-color-gray-black);
  font-size: 22px;
}
.rammerhead-guide-text13 {
  color: var(--dl-color-gray-black);
  font-size: 22px;
}
.rammerhead-guide-text14 {
  color: var(--dl-color-gray-black);
  font-size: 22px;
}
.rammerhead-guide-text15 {
  color: var(--dl-color-gray-black);
  font-size: 22px;
}
.rammerhead-guide-text16 {
  color: var(--dl-color-gray-black);
  font-size: 22px;
}
.rammerhead-guide-text17 {
  color: var(--dl-color-gray-black);
  font-size: 22px;
}
.rammerhead-guide-text18 {
  color: var(--dl-color-gray-black);
  font-size: 22px;
}
.rammerhead-guide-text19 {
  color: var(--dl-color-gray-black);
  font-size: 22px;
}
.rammerhead-guide-text20 {
  color: var(--dl-color-gray-black);
  font-size: 22px;
}
.rammerhead-guide-text21 {
  color: var(--dl-color-gray-black);
  font-size: 22px;
}
.rammerhead-guide-text22 {
  color: var(--dl-color-gray-black);
  font-size: 22px;
}
.rammerhead-guide-text23 {
  color: var(--dl-color-gray-black);
  font-size: 22px;
}
.rammerhead-guide-text24 {
  color: var(--dl-color-gray-black);
  font-size: 22px;
}
.rammerhead-guide-text25 {
  color: var(--dl-color-gray-black);
  font-size: 22px;
}
.rammerhead-guide-text26 {
  color: var(--dl-color-gray-black);
  font-size: 22px;
}
.rammerhead-guide-text27 {
  color: var(--dl-color-gray-black);
  font-size: 22px;
}
.rammerhead-guide-text28 {
  color: var(--dl-color-gray-black);
  font-size: 22px;
}
.rammerhead-guide-text29 {
  color: var(--dl-color-gray-black);
  font-size: 22px;
}
.rammerhead-guide-text30 {
  color: var(--dl-color-gray-black);
  font-size: 22px;
}
.rammerhead-guide-text31 {
  color: var(--dl-color-gray-black);
  font-size: 22px;
}
.rammerhead-guide-text32 {
  color: var(--dl-color-gray-black);
  font-size: 22px;
}
.rammerhead-guide-text33 {
  color: var(--dl-color-gray-black);
  font-size: 22px;
}
.rammerhead-guide-text34 {
  color: var(--dl-color-gray-black);
  font-size: 22px;
}
.rammerhead-guide-text35 {
  color: var(--dl-color-gray-black);
  font-size: 22px;
}
.rammerhead-guide-text36 {
  color: var(--dl-color-gray-black);
  font-size: 22px;
}
.rammerhead-guide-text37 {
  font-size: 22px;
}
.rammerhead-guide-text38 {
  font-size: 22px;
}
.rammerhead-guide-text39 {
  font-size: 22px;
}
.rammerhead-guide-text40 {
  font-size: 22px;
}
.rammerhead-guide-text41 {
  font-size: 22px;
}
.rammerhead-guide-text42 {
  font-size: 22px;
}
.rammerhead-guide-text43 {
  font-size: 22px;
}
.rammerhead-guide-text44 {
  font-size: 22px;
}
.rammerhead-guide-text45 {
  font-size: 22px;
}
.rammerhead-guide-text46 {
  font-size: 22px;
}
.rammerhead-guide-text47 {
  font-size: 22px;
}
.rammerhead-guide-text48 {
  font-size: 22px;
}
.rammerhead-guide-text49 {
  font-size: 22px;
}
.rammerhead-guide-text50 {
  font-size: 22px;
}
.rammerhead-guide-text51 {
  font-size: 22px;
}
.rammerhead-guide-text52 {
  font-size: 22px;
}
.rammerhead-guide-text53 {
  font-size: 22px;
}
.rammerhead-guide-text54 {
  font-size: 22px;
}
.rammerhead-guide-text55 {
  font-size: 22px;
}
.rammerhead-guide-text56 {
  font-size: 22px;
}
.rammerhead-guide-text57 {
  font-size: 22px;
}
.rammerhead-guide-text58 {
  font-size: 22px;
}
.rammerhead-guide-text59 {
  font-size: 22px;
}
.rammerhead-guide-text60 {
  font-size: 22px;
}
.rammerhead-guide-text61 {
  font-size: 22px;
}
.rammerhead-guide-text62 {
  font-size: 22px;
}
.rammerhead-guide-text63 {
  font-size: 22px;
}
.rammerhead-guide-text64 {
  font-size: 22px;
}
.rammerhead-guide-text65 {
  font-size: 22px;
}
.rammerhead-guide-text66 {
  font-size: 22px;
}
.rammerhead-guide-text67 {
  font-size: 22px;
}
.rammerhead-guide-text68 {
  font-size: 22px;
}
.rammerhead-guide-text69 {
  font-size: 22px;
}
.rammerhead-guide-text70 {
  font-size: 22px;
}
.rammerhead-guide-text71 {
  font-size: 22px;
}
.rammerhead-guide-text72 {
  font-size: 22px;
}
@media(max-width: 767px) {
  .rammerhead-guide-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .rammerhead-guide-desktop-menu {
    display: none;
  }
  .rammerhead-guide-navlink02 {
    margin-left: var(--dl-space-space-unit);
  }
  .rammerhead-guide-navlink03 {
    margin-left: var(--dl-space-space-unit);
  }
  .rammerhead-guide-navlink04 {
    margin-left: var(--dl-space-space-unit);
  }
  .rammerhead-guide-navlink05 {
    margin-left: var(--dl-space-space-unit);
  }
  .rammerhead-guide-navlink06 {
    margin-left: var(--dl-space-space-unit);
  }
  .rammerhead-guide-navlink07 {
    margin-left: var(--dl-space-space-unit);
  }
  .rammerhead-guide-btn-group {
    display: none;
  }
  .rammerhead-guide-burger-menu {
    display: flex;
  }
  .rammerhead-guide-link1 {
    text-decoration: none;
  }
  .rammerhead-guide-link2 {
    text-decoration: none;
  }
  .rammerhead-guide-link3 {
    text-decoration: none;
  }
}
@media(max-width: 479px) {
  .rammerhead-guide-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .rammerhead-guide-logo {
    width: 15%;
    height: 15%;
  }
  .rammerhead-guide-icon {
    width: 55px;
    height: 55px;
  }
  .rammerhead-guide-mobile-menu {
    padding: 16px;
  }
  .rammerhead-guide-text02 {
    font-size: 26px;
    font-style: normal;
    font-weight: 500;
  }
}
